# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/raw/README.md
!data/processed/.gitkeep

# Model checkpoints
*.ckpt
*.pt
*.pth
checkpoints/

# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/
/data/processed/
/data/processed/batter_appearances/
/data/processed/games/
/data/processed/pitcher_appearances/
/data/processed/pitches/
/data/processed/plate_appearances/
